apiVersion: v1
kind: Secret
metadata:
  name: fr-youhanna-makin-secrets
type: Opaque
stringData:
  # These values are placeholders that will be replaced by the CI/CD pipeline
  database-url: "${DATABASE_URL}"
  rails-master-key: "${RAILS_MASTER_KEY}"
  admin-password: "${ADMIN_PASSWORD}"
---
apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-secret
type: kubernetes.io/dockerconfigjson
data:
  # This value will be replaced by the CI/CD pipeline
  .dockerconfigjson: "${DOCKER_CONFIG_JSON}" 