<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold text-gray-900">Edit User</h1>
    <p class="mt-2 text-sm text-gray-700">Edit user details for <%= @user.name %>.</p>
  </div>
</div>

<div class="mt-8">
  <%= render "form", user: @user %>
</div> 